.background {
  background: url("/static/img/bg_img_2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body_wrap {
  @apply w-full h-full p-0 bg-white flex justify-center;
}

.body_back_ground {
  @apply sm:max-xl:hidden fixed bottom-0 z-0 background;
}

.body_back_ground_cover {
  @apply sm:max-xl:hidden w-full h-full fixed top-0 left-0 z-10 bg-black;
}

.back_video {
  @apply sm:max-xl:hidden z-0 fixed top-0 left-0;
}

.top {
  @apply pt-24 xl:pt-60  pl-24 xl:pl-70 pr-22 xl:pr-60 bg-transparent flex justify-between fixed top-0 left-0 w-full z-30;
}

.top_btn {
  @apply rounded xl:rounded-lg flex justify-center shrink-0 cursor-pointer bg-[#3333FF]  w-[28px] xl:w-20  h-[28px] xl:h-20;
}

.top_btn_text {
  @apply hidden xl:block h-8 self-center font-poppins_semi text-2xl text-white;
}

.bottom_wrap {
  @apply hidden xl:flex font-poppins text-white justify-between absolute inset-x-0 bottom-0 z-10;
}

.bottom_page_info {
  @apply flex justify-between w-[430px] mb-56 mr-60;
}

.bottom_page_indicator {
  @apply bg-white flex w-[80px] h-0.5 rounded-sm self-center;
}
